body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(150, 100%, 98%);
}
header {
  color: #fff;
  padding: 30px 0;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(50, 50, 50, 0.5);
  font-family: sans-serif;
  font-size: 18px;

  color: aqua;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

.grid-container-newes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.grid-container-newes .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 16px;
  text-align: center;
  background-color: #fff;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.grid-item h3 {
  margin: 10px 0;
}

.grid-item p {
  color: #666;
}
.grid-item button {
  margin-top: 16px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  background-color: rgba(30, 126, 244, 0.785);
  border-radius: 4px;
  border-color: blue;
}
